/AccountControllerTest.class
/AdminFuncControllerTest.class
/AccountControllerTest.class
/DBControllerTest.class
/SearchControllerTest.class
/UniversityTest.class
/UniversityControllerTest.class
/UserTest.class
/UserFuncControllerTest.class
/AccountTest.class
/AdminTest.class
/AllTests.class
